<% content_for :title do %>
  LOGIN
<% end %>

<% content_for :before_page do %>
  <%= root_path %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% content_for :link do%>
    <div class="actions">
      <%= f.submit "Log in", form:'new_user' %>
    </div>
  <% end %>
  
  <div class="sign-field d-flex">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="sign-field d-flex">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
  </div>
<% end %>
<div class="sign-password w-100">
  <%= render "devise/shared/links" %>
</div>
