<!DOCTYPE html>
<html>
  <head>
    <title>Fastpay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "/layouts/nav" unless current_page?(:root) %>
    <div class="container">
      <p class="notice c-white"><%= notice %></p>
      <p class="alert c-white"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
